/* Container for the Dinners page */
.container {
  padding: 5px;
}

/* Button for toggling column visibility */
.columnToggle {
  background-color: #0d4f21; /* Primary color */
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 15px;
  cursor: pointer;
  margin: 20px 10px 20px 20px; /* Combined margins */
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.columnToggle:hover {
  background-color: #1a7b44; /* Hover effect */
}

/* Table styling */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  border: 1px solid #ddf5e0; /* Unified border color */
  padding: 15px; /* Standardized padding */
  text-align: left;
}

th {
  background-color: var(--background-color-light);
  font-weight: bold;
}

/* Alternating row colors */
tbody tr:nth-child(odd) {
  background-color: #ddf5e0;
}

tbody tr:nth-child(even) {
  background-color: rgb(195, 219, 198);
}

/* Styling for hidden columns */
.hidden {
  display: none;
}
