/* src/components/Navbar.css */
  
 /* Base styles for the navbar */
.navbar {
  background-color: var(--primary-color);
  padding: 10px;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center; /* This will vertically center everything in the container */
  height: 60px; /* Make sure the height is set */
  padding: 0 10px;
}

.navbar-links {
  display: flex;
  gap: 1rem;
  list-style: none;
}

.navbar-links a {
  color: var(--text-color-light);
  text-decoration: none;
}

.navbar-links a:hover {
  background-color: var(--link-color);
}

/* Logo and brand */
.navbar-brand {
  display: flex;
  align-items: center;
}

.brand-logo, .brand-text {
  height: 50px;
}

.brand-text {
  filter: invert(1);
}